
.auth {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.auth__title {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 80px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 35px;
}
